<h3>Skills</h3>
<ul *ngIf="languages.length < 4; else tooManySkills ">
  <!--for(let language (first iteration) of languages is the name of the array)-->
  <li *ngFor="let language of languages">{{language}}</li>
</ul>

<!--we only want the p tag to render if there are more than languages-->
<ng-template #tooManySkills>
  <p>
    Too many skills to display! Reduce the number of skills
  </p>
</ng-template>


<!--Le'ts bind a click event to this p tag and make the click event trigger a function from typescript-->
<!-- <button (click)="clickEventFunction">
  Click me!
</button> -->
<!--clickEventFunction is a function eventhough it's between quotationmarks-->

<button (click)="removeSkill()">
  Remove skill!
</button>